/*GERAL*/
*{margin: 0; padding: 0;}
body{
    font-family: 'Manrope', sans-serif;
}
.container{
    width: 100%;
}
h2{
    font-size: 2em;
    color: black;
}

/*MENU*/
nav ul li a h5{
    font-size: 1em;
    color: #c33b4d;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(41, 41, 41);
    padding: 5px;
}
nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
nav ul li{
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    padding: 0.5%;
}
nav ul li a{
    display: inline-block;
    padding: 5px 0;
    width: 100%;
    text-decoration: none;
    color: white;
}
.logo li a:hover{
    color:#c33b4d; 
}
@media screen and (min-width: 768px){
    nav{
        flex-direction: row;
        justify-content: space-around;
    }
    nav ul{
        flex-direction: row;
        width: 75%;
    }
}

/*HEADER*/
header{
    background-image: url(../img/Montanhas.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    height: 600px;
    height: 60vh;
    justify-content: center;
    color: #000;
    font-size: 1.5em;
}
.botao{
    text-decoration: none;
    color: #c33b4d;
    padding: 10px 21px;
    background-color: rgb(41, 41, 41);
    font-size: 0.8em;
    box-shadow: 9px 11px 5px #000;
}


/*SOBRE*/
#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}
#sobre h2{
    margin-top: 20px;
}
.foto img{
    width: 50%;
}
.foto{
    float: left;
    width: 50%;
    text-align: center;
}
.texto{
    float: right;
    width: 50%;
}
#sobre{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 90vh;
    justify-content: center;
    min-height: 80vh;
}
#sobre h2{
    text-align: center;
    width: 100%;
}
#sobre div{
    flex-grow: 1;
    flex-basis: 300px;
    padding: 0 60px;
}

/*ESPECIALIDADES*/
#especialidades{
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 auto;

}
#especialidades img{
    width: 110px;
    margin: 10px 0;
}
#especialidades div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
#especialidades p{
    line-height: 1.5;
    margin: 2vh;
    font-size: 1.2;
    text-align: justify;
}
#especialidades{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
}
#especialidades h2{
    text-align: center;
    width: 100%;
}
#especialidades div{
    flex-grow: 1;
    flex-basis: 150px;
    padding: 0 10px;
    text-align: center;
}

/*COMPETÊNCIAS SOCIOEMOCIONAIS*/
#competencias img{
    width: 110px;
    margin: 10px 0;
    border-radius: 90%;
}
#competencias h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
#competencias h3{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}
#competencias a{
    color: black;
    text-decoration: none;
}
#competencias a:hover{
    color:#c33b4d; 
}
#competencias{
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 auto;
}
#competencias div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
#competencias{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
}
#competencias div{
    flex-grow: 1;
    flex-basis: 150px;
    padding: 0 10px;
    text-align: center;
}
/*PORTIFÓLIO*/
#portifolio{
    padding-left: 3%;
}

/*CONTATO*/
#contato{
    background-color: rgb(41, 41, 41);
    padding-left: 3%;
    font-size: 1.2em;
}
input[type=submit]{
    background-color: #c33b4d;
    border: black;
    font-family: 'Manrope', sans-serif;
    border-radius: 4px;
    padding: 10px 21px;
    font-size:0.8em;
}
textarea{
    border-radius: 4px;
    height: 96px;
    width: 293px;
    border: black;
}
input[type=email]{
    border-radius: 4px;
    height: 25px;
    border: black;
}
input[type=text]{
    border-radius: 4px;
    height: 25px;
    border: black;
}
#contato img{
    width: 50px;
}
#contato p{
    color: white;
    line-height: 2;
}
#contato h2{
    color: white;
    font-size: 1.5em;
}

/*RODAPÉ*/
footer{
    background-color: rgb(41, 41, 41);
    padding-left: 3%;
}
footer p{
    color: white;
}
footer ul{
    list-style-type: none;
}
footer a{
    text-decoration: none;
    color: #c33b4d;
    text-align: right;
}